@media (max-width: 1000px) {
  body {
    flex-direction: column;
    padding: 0 !important;
  }

  .sidebar {
    height: 40vh;
    flex-basis: 40vh;
    padding: 0.5rem 2rem 0.5rem 2rem !important;
  }
  .logo {
    height: 2.5rem !important;
    margin-bottom: 0.5rem;
  }
  /* #map {
    height: 50vh;
  } */
}
@media (max-width: 420px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 40%;
  }
}
